    <!DOCTYPE html>
    <html>
      <head>
        <title>The d3 test</title>
<style>
.chart {

}

.main text {
    font: 10px sans-serif;	
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

div.tooltip { 
    position: absolute;     
    text-align: left;     
/*    width: 250px;          
*/  height: 50px;         
    padding: 10px;       
    font: 12px sans-serif;    
    background: white; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
}

circle {
    fill: steelblue;
}

</style>
        <script type="text/javascript" src="http://mbostock.github.com/d3/d3.v2.js"></script>
      </head>
      <body>
        <div class='content'>
          <!-- /the chart goes here -->
        </div>
        <script type="text/javascript" src="jordans_scatterchart2.js"></script>
      </body>
    </html>
